.activemassage {
    width: 100%;
    height: 100%;
    position: relative;
}

.noactivemassage {
    width: 100%;
    height: 0%;
}

#massage {
    transition: 0.6s;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(81, 136, 81, 0.5);
    z-index: 1000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.massageFeedBack {
    width: clamp(200px, 100%, 1175px);
    height: 743px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    position: relative;
}

.time {
    position: absolute;
    width: 37.001px;
    height: 37px;
    flex-shrink: 0;
    top: 38px;
    right: 40.23px;
    cursor: pointer;
}

.massageFeedBack h3 {
    color: #12724F;
    font-family: Bokonique;
    font-size: clamp(20px, 5vw, 64px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 116px;
}

.massageFeedBack span {
    color: #1D2130;
    font-family: Bokonique;
    font-size: clamp(16px, 5vw, 24px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 42px;
}

.massageFeedBack .sccssesfool {
    width: 222px;
    height: 222px;
    margin-top: 102px;
}

@media screen and (max-width:480px) {
    .massageFeedBack {
        height: clamp(200px, 100%, 400px);
        padding-left: 10px;
    }

    .time {
        width: 20px;
        height: 20px;
        right: 10px;
        top: 20px;
    }

    .massageFeedBack .sccssesfool {
        width: 100px;
        height: 100px;
        margin-top: 30px;
    }

    .massageFeedBack h3 {
        margin-top: 80px;
    }
}