header {
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 500;
}



.headerLinks a {
    color: #000000;
}

.header-menu {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 30px;
    padding-top: 12px;
    padding-bottom: 7.43px;
}


.header-menu .headerLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    color: #000;
    font-family: Bokonique;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex-wrap: wrap;
    row-gap: 20px;
}

.liactiv a {
    color: #12724F;
}

.header-menu .headerLinks .noactivli a {
    transition: 0.6s;
}

.header-menu .headerLinks .noactivli a:hover {
    color: #12724F;
    transition: 0.6s;
}

.languages {
    width: 35.822px;
    position: relative;
}

.languages img {
    width: 27.621px;
    height: 16.4px;
    flex-shrink: 0;
}

.chekLanguage {
    width: 27.621px;
    height: 16.4px;
    flex-shrink: 0;
}

.language {
    width: 27.621px;
    height: 60px;
    position: absolute;
    top: 20px;
    overflow: hidden;
    transition: all 0.6s;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.noActivLanguage {
    width: 27.621px;
    height: 0px;
    position: absolute;
    top: 20px;
    overflow: hidden;
    transition: all 0.6s;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.angle {
    position: absolute;
    top: 1px;
    right: -5px;
}

.fa-bars {
    display: none;
}

#Links {
    position: fixed;
    height: 100%;
    overflow: hidden;
    background-color: rgba(136, 210, 152, 0.6);
    transition: 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 40px;
}

#Links li a {
    font-size: clamp(22px, 5vw, 30px);
    color: #1E1E1E;
}

#Links .angle {
    top: 0;
}

#Links img {
    width: 27.621px;
    height: 16.4px;
    flex-shrink: 0;

}

.openMenuLinks {
    top: 0;
    left: 0;
    width: 100%;
}

.closeMenuLinks {
    top: 0;
    left: 0;
    width: 0%;
}

.iconsClose-open {
    position: absolute;
    top: 20px;
    right: 20px;
}

@media screen and (max-width:1360px) {
    header {
        padding-bottom: 20px;
        padding-top: 20px;
    }
}
@media screen and (max-width:1024px){
    .header-menu {
        justify-content: center;
        column-gap: 10px;
    }
}


@media screen and (max-width:480px) {
    header {
        height: 100px;
    }

    .logoImge {
        position: absolute;
        left: 20px;
        top: 20px;
    }

    .header-menu {
        padding-left: 10px;
        padding-right: 10px;
    }

    .header-menu {
        justify-content: center;
        column-gap: unset;
        column-gap: 30px;
        padding-bottom: unset;
    }

    .fa-bars {
        display: flex;
        cursor: pointer;
        color: #12724F;
        font-size: 20px;
        position: absolute;
        top: 40px;
        right: 20px;
    }

    .header-menu .headerLinks li {
        display: none;
    }
}

@media screen and (max-width:320px) {
    .header-menu {
        justify-content: center;
        column-gap: 10px;
    }
}