.coWorkers {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 33px;
    padding-top: 60px;
}

.coWorkersall {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 32px;
}

.coWorkers .bnn-link-coworks {
    display: inline-flex;
    padding: 20px 26px 20px 34px;
    justify-content: flex-end;
    align-items: center;
    border-radius: 14px;
    background: #12724F;
    color: #FFF;
    font-family: Bokonique;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: unset;
}

