.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    row-gap: 71px;
}

.product {
    width: clamp(200px, 100%, 434px);
    flex-shrink: 0;
    border-radius: 14px;
    background: #DDD;
    padding-left: 39px;
    padding-right: 35px;
    padding-bottom: 23px;
    padding-top: 96px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.sterile {
    width: 141px;
    height: 134px;
    flex-shrink: 0;
    position: absolute;
    top: 0px;
    right: 0px;
    background-image: url("../../../public/imgProduct/steriel.png");
    background-repeat: no-repeat;
    background-position: center;
}

.sterile h4 {
    position: absolute;
    top: 41px;
    right: 20px;
    width: 59.302px;
    height: 17.406px;
    transform: rotate(45.842deg);
    flex-shrink: 0;
    color: #FFF;
    font-family: Bokonique;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.product button,
.btn-link-product {
    margin: 0 auto;
    margin-top: 44px;
}

.product h3 {
    width: clamp(200px, 100%, 305px);
    color: #1E1E1E;
    font-family: Bokonique;
    font-size: clamp(12px, 5vw, 16px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 22.1px;
}

.productData {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 27px;
}

.productData img {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
}

.productSm {
    width: 123px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 14px;
    border: 1px solid #12724F;
    color: #12724F;
    font-family: Bokonique;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}



.productSm span {
    width: 40px;
}

.productSm img {
    width: 9.507px;
    height: 11px;
    flex-shrink: 0;
}

.productImge {
    width: clamp(200px, 100%, 339px);
    height: 153.895px;
    flex-shrink: 0;
}

.protuctLayers {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.protuctLayers span {
    color: #1E1E1E;
    font-family: Bokonique;
    font-size: clamp(10px, 5vw, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.protuctCount {
    display: flex;
    align-items: center;
    column-gap: 8px;
}


.protuctCount span {
    color: #1E1E1E;
    font-family: Bokonique;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product .btn-link-product {
    padding: 23px 28px 25.832px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 14px;
    background: #12724F;
    color: #FFF;
    font-family: Bokonique;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}



@media screen and (max-width:480px) {
    .product {
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .productData {
        column-gap: 10px;
    }
}