.aboutUsDataPage {
    margin-top: 141px;
    display: flex;
    flex-direction: column;
    row-gap: 69px;
    justify-content: center;
    align-items: center;
    padding-bottom: 258px;
    overflow: hidden;
}

.aboutUsDataPage .aboutUsimg {
    width: clamp(200px, 100%, 647px);
    flex-shrink: 0;
}

.about {
    display: flex;
    flex-direction: column;
    row-gap: 175px;
    position: relative;
}

.halfmoon4About {
    width: 310.076px;
    flex-shrink: 0;
    position: absolute;
    top: 147px;
    left: -60px;
    z-index: -1;
}

.halfmoon5About {
    width: 366px;
    flex-shrink: 0;
    position: absolute;
    bottom: -163px;
    right: -20px;
    z-index: -1;
}

.about p {
    width: clamp(200px, 100%, 629px);
}

.about div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
}

.about :nth-child(1) {
    column-gap: 49px;
    row-gap: 40px;
}

.about :nth-child(2) {
    column-gap: 76px;
    row-gap: 40px;
}

.halfmoon4 {
    position: absolute;
    flex-shrink: 0;
    /* width: 200px;
    height: 100px; */
    transform: rotate(-19.862deg);
    top: 472px;
    left: -30px;
    z-index: -10;
}

.halfmoon5 {
    position: absolute;
    width: clamp(200px, 100%, 366px);
    flex-shrink: 0;
    z-index: -10;
}

@media screen and (max-width:1364px) {
    .aboutUsDataPage {
        margin-top: 250px;
    }

    .halfmoon4 {
        top: 10px;
        left: 10px;
    }

    .halfmoon5 {
        right: 10px;
        bottom: 10px;
    }
}

@media screen and (max-width:1080px) {
    .halfmoon4About {
        width: 200px;
        top: 10px;
    }

    .halfmoon5About {
        width: 200px;
    }
}

@media screen and (max-width:480px) {
    .aboutUsDataPage {
        margin-top: 140px;
        row-gap: 30px;
        padding-bottom: 100px;
    }

    .about {
        row-gap: 80px;
    }

    .halfmoon4 {
        width: 200px;
    }

    .halfmoon5 {
        width: 200px;
    }
}