.ourAboutUs {
    width: 100%;
    padding-top: 105px;
    padding-bottom: 120px;
    margin-top: 61px;
    background: #F4F9FF;
    position: relative;
    overflow: hidden;
    z-index: 1;
}


.aboutUs {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
    position: relative;
}

.halfmoonAboutUs {
    position: absolute;
    bottom: -110px;
    right: -59px;
    z-index: -1;
    width: clamp(200px, 100%, 366px);
}


.aboutData {
    width: clamp(200px, 100%, 531px);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 39px;
}

.aboutData .about-link {
    padding: 20px 39px 20px 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #FFF;
    font-family: Bokonique;
    font-size: clamp(12px, 5vw, 18px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #12724F;
    border-radius: 14px;
    cursor: pointer;
}


.aboutData p {
    width: clamp(200px, 100%, 541px);
}


.aboutImg {
    width: clamp(200px, 100%, 555px);
    flex-shrink: 0;
    margin-right: 116px;
}

@media screen and (max-width:1360px) {
    .ourAboutUs {
        margin-top: 200px;
    }
}

@media screen and (max-width:1080px) {
    .halfmoonAboutUs {
        width: 200px;
    }
}

@media screen and (max-width:888px) {
    .ouraboutUs {
        margin-top: 100px;
    }

}

@media screen and (max-width:480px) {
    .ourAboutUs {
        margin-top: 100px;
        padding-bottom: 50px;
        padding-top: 50px;
    }

    .halfmoon {
        bottom: 0;
        right: 0;
    }

    .ouraboutUs {
        margin-top: 61px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 50px;
    }

    .aboutdata button {
        width: 160px;
    }
}